@import "_numstyle.scss";
@import "_menu.scss";


$body_bg: black;
$headerfooter: #232021;
$main_color: #D1A110;
$main_orange: #AD5329;
$center_width: 1600px;
$main_font: "Karate";
$second-font: 'Caveat', cursive;

body {
	background-color: $body_bg;
}

body.lock {
	overflow: hidden;
}

.container {
	width: $center_width;
	margin: 0 auto;
	padding: 0px 10px;

	@media (max-width: 1600px) {
		width: 1200px;
	}

	@media (max-width: 1200px) {
		width: 1000px;
	}

	@media (max-width: 1000px) {
		width: 900px;
	}

	@media (max-width: 900px) {
		width: 800px;
	}

	@media (max-width: 800px) {
		width: 700px;
	}

	@media (max-width: 700px) {
		width: 600px;
	}

	@media (max-width: 600px) {
		width: 500px;
	}

	@media (max-width: 500px) {
		width: 375px;
	}

	@media (max-width: 376px) {
		width: 320px;
	}

	@media (max-width: 330px) {
		width: 270px;
	}
}

.header {
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: $headerfooter;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $headerfooter;
		z-index: 2;
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 100px;
		align-items: center;
	}

	&__burger {
		display: none;
	}

	&__logo {
		width: 90px;
		height: 90px;
		z-index: 3;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.menu__list {
		position: relative;
		z-index: 2;
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		& li.active a,
		& a:hover {
			color: #968214;
		}
	}

	.menu__link {
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		color: $main_color;
		margin: 0px 0px 0px 100px;
		font-family: $main_font;
		transition: all 0.3s ease;
		font-size: 30px;
	}

	@media (max-width: 1200px) {
		// &__body {
		// 	height: 45px;
		// }
		&__logo {
			margin-left: 0px;
		}
		&__burger {
			display: block;
			position: relative;
			width: 50px;
			height: 40px;
			margin-right: 20px;
			z-index: 3;
			& span {
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 3px;
				top: 18px;
				transition: all 0.3s ease 0s;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 3px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&.active::before {
				transform: rotate(50deg);
				top: 9px;
			}
			&.active::after {
				transform: rotate(-50deg);
				bottom: 9px;
			}
			&.active span {
				transform: scale(0);
			}
		}
		.menu__body {
			z-index: 1;
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(49, 49, 49);
			overflow: auto;
			padding: 140px 0px 0px 0px;
			display: block;
			transition: all 0.5s ease 0s;
			&.active {
				top: 0;
			}
		}
		.menu__list {
			display: block;
			& li {
				font-size: 25px;
				margin: 0px 0px 30px 0px;
			}
		}
	}
}

.banners {
	position: relative;
	margin: 100px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;

	&__container {
		position: relative;
		z-index: 1;
		text-align: center;
		padding-top: 200px;
	}

	&__text {
		margin: auto;
		font-family: $main_font;
		color: $main_color;
		font-size: 120px;
		font-weight: 900;
		letter-spacing: 10px;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			width: 100%;
			height: 100%;
			opacity: 20%;
			object-fit: cover;
			background-size: cover;
		}
	}

	&__btn {
		display: inline-block;
		width: 550px;
		height: 110px;
		background-color: $main_orange;
		margin-top: 50px;
		color: $main_color;
		font-family: $main_font;
		font-size: 70px;
		letter-spacing: 30px;
		border: 5px solid $main_color;
		line-height: 1.3;
	}

	/*==========================================
					Адаптив для банеров
	==========================================*/

	@media (max-width: 1300px) {
		&__text {
			font-size: 80px;
		}

		&__container {
			padding-top: 130px;
		}
	}

	@media (max-width: 1200px) {
		&__text {
			font-size: 70px;
		}
	}

	@media (max-width: 900px) {
		&__text {
			font-size: 60px;
		}

		&__btn {
			width: 450px;
			height: 90px;
			font-size: 60px;
		}
	}

	@media (max-width: 768px) {
		&__text {
			font-size: 50px;
		}
	}

	@media (max-width: 600px) {
		&__text {
			font-size: 40px;
		}

		&__btn {
			width: 350px;
			height: 70px;
			font-size: 40px;
		}
	}

	@media (max-width: 500px) {
		&__text {
			font-size: 30px;
		}

		&__btn {
			width: 300px;
			height: 60px;
			font-size: 40px;
		}
	}

	@media (max-width: 400px) {
		&__text {
			font-size: 40px;
		}

		&__btn {
			width: 250px;
			height: 40px;
			font-size: 25px;
		}
	}

	@media (max-width: 360px) {
		&__text {
			font-size: 25px;
		}
	}
}

.dishes {
	width: 100%;
	height: 900px;
	position: relative;
	margin: 50px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	&__container {
		position: inherit;
		z-index: 1;
		text-align: center;
		// padding-top: 200px;
	}

	&__text {
		font-family: $main_font;
		font-size: 50px;
		letter-spacing: 20px;
		color: $main_color;
	}

	&__body {
		background-color: $headerfooter;
		margin-top: 50px;
		height: 800px;
		padding: 25px;
	}

	&__main {
		display: grid;
		grid-template-columns: 475px 475px 475px;
		grid-template-rows: 350px 350px;
		column-gap: 50px;
		row-gap: 50px;
	}

	@media (max-width: 1600px) {
		height: 1300px;

		&__text {
			margin-bottom: 50px;
		}
		&__body {
			width: 1030px;
			height: 1200px;
			margin: 0 auto;
		}

		&__main {
			grid-template-columns: 425px 425px;
			grid-template-rows: 350px 350px 350px;
			column-gap: 130px;
		}
	}

	@media (max-width: 1200px) {
		height: 2550px;

		&__body {
			width: 600px;
			height: 2400px;
			margin: 0 auto;
		}

		&__main {
			grid-template-columns: 550px;
			grid-template-rows: 350px 350px 350px 350px 350px 350px;
			column-gap: 130px;
		}
	}
	
	&__item {
		position: relative;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media (max-width: 768px) {
		&__body {
			width: 400px;
			height: 2400px;
			margin: 0 auto;
		}

		&__main {
			grid-template-columns: 350px;
			grid-template-rows: 350px 350px 350px 350px 350px 350px;
			column-gap: 130px;
		}
	}

	@media (max-width: 510px) {
		&__body {
			width: 250px;
			height: 2400px;
			margin: 0 auto;
		}

		&__main {
			grid-template-columns: 200px;
			grid-template-rows: 350px 350px 350px 350px 350px 350px;
			column-gap: 130px;
		}
	}
	
	&__item {
		position: relative;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.item__text {
		display: none;
		position: absolute;
		top: 30%;
		padding: 10px;
		width: 100%;
		height: 100%;
		color: $main_color;
		font-size: 50px;
		font-family: $second-font;
		font-weight: 900;
		cursor: pointer;
	}

	&__item:hover {
		img {
			transition: opacity, 0.5s;
			opacity: 10%;
		}
		.item__text {
			display: block;
		}
	}
}

.map {
	width: 100%;
	height: 1000px;
	position: relative;
	margin: 60px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	&__container {
		position: inherit;
		z-index: 1;
		text-align: center;
	}

	&__text {
		font-family: $main_font;
		font-size: 50px;
		letter-spacing: 20px;
		color: $main_color;
	}

	&__body {
		width: 100%;
		height: 800px;
		margin-top: 50px;
		text-align: center;
	}

	@media (max-width: 1600px) {
		&__body {
			margin: 0 auto;
			height: 600px;
			width: 85%;
		}

		&__body > a > img {
			height: 700px;
			width: 85%;
			object-fit: cover;
		}

		&__text {
			margin-bottom: 50px;
		}
	}
}

	/*==========================================
					Адаптив для карты
	==========================================*/

@media (max-width: 1600px) {
	// .map {
	// 	margin-top: 300px;
	// }
}

@media (max-width: 1300px) {
	.map {
		margin-top: 100px;
	}
}

@media (max-width: 1200px) {
	.map {
		height: 900px;
	}
}

@media (max-width: 768px) {
	// .map {
	// 	margin-top: 1650px;
	// }
}

@media (max-width: 540px) {
	.map {
		height: 600px;
	}
	// .map {
	// 	margin-top: 1950px;
	// }
}

@media (max-width: 415px) {
	.map {
		height: 500px;
	}
}

@media (max-width: 321px) {
	// .map {
	// 	margin-top: 2100px;
	// }
}

.about-us {
	width: 100%;
	height: 1000px;
	position: relative;
	margin-top: 60px;
	padding: 0;

	&__container {
		width: 1318px;
		height: inherit;
		position: inherit;
		z-index: 1;
		margin-top: 350px;
	}

	&__header {
		text-align: center;
		font-family: $main_font;
		color: $main_color;
		font-size: 50px;
		padding: 20px 0px;
	}

	&__body {
		width: 100%;
		height: 100%;
		background-color: $main_orange;
		font-family: $second-font;
		color: $main_color;
		font-size: 28px;
	}
}

	/*==========================================
					Адаптив для "О нас"
	==========================================*/

@media (max-width: 1600px) {
	.about-us {
		&__container {
			margin-top: 0px;
			width: 1100px;
		}
	}
}

@media (max-width: 1200px) {
	.about-us {
		&__container {
			margin-top: 0px;
			width: 800px;
		}
	}
}

@media (max-width: 900px) {
	.about-us {
		&__container {
			margin-top: 0px;
			width: 600px;
			height: 105%;
		}

		&__header {
			font-size: 30px;
		}

		&__body {
			font-size: 26.5px;
		}
	}
}

@media (max-width: 768px) {
	.about-us {
		&__container {
			margin-top: 0px;
			width: 400px;
			height: 115%;
		}

		&__body {
			font-size: 25px;
		}
	}
}

@media (max-width: 540px) {
	.about-us {
		&__container {
			margin-top: 300px;
			width: 300px;
			height: 140%;
		}
	}
}

@media (max-width: 415px) {
	.about-us {
		&__container {
			margin-top: 375px;
			width: 300px;
			height: 140%;
		}
	}
}

@media (max-width: 412px) {
	.about-us {
		&__container {
			margin-top: 375px;
			width: 300px;
			height: 140%;
		}

		&__body {
			font-size: 24px;
		}
	}
}

@media (max-width: 376px) {
	.about-us {
		&__body {
			font-size: 22px;
		}

		&__container {
			margin-top: 375px;
			width: 250px;
			height: 135%;
		}
	}
}

@media (max-width: 360px) {
	.about-us {
		&__container {
			margin-top: 375px;
			// width: 300px;
		}
	}
}

@media (max-width: 321px) {
	.about-us {
		&__container {
			margin-top: 375px;
			// width: 300px;
		}
	}
}

@media (max-width: 280px) {
	.about-us {
		&__container {
			margin-top: 375px;
			// width: 270px;
			height: 140%;
		}
	}
}

.reservation {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 100px;

	&__container {
		position: inherit;
		z-index: 1;
	}

	&__text {
		text-align: center;
		font-family: $main_font;
		font-size: 50px;
		color: $main_color;
		margin-bottom: 50px;
	}

	&__body {
		margin: 0 auto;
	}

	&__form {
		margin: 0 auto;
		text-align: center;

		.form__email,
		.form__name,
		.form__message {
			color: $main_color;
			font-family: $second-font;
			font-size: 50px;
		}

		.form__email > input,
		.form__message > input,
		.form__name > input {
			width: 800px;
			height: 50px;
			margin-top: 50px;
			font-size: 30px;
		}
		
		.form__email > input::placeholder,
		.form__name > input::placeholder,
		.form__message > input::placeholder {
			font-size: 30px;
			text-align: center;
		}
	}
}

	/*==========================================
					Адаптив для резервации
	==========================================*/

@media (max-width: 900px) {
	.reservation {
		&__text {
			font-size: 40px;
		}

		&__form {
			.form__email,
			.form__name,
			.form__message {
				font-size: 30px;
			}

			.form__email > input,
			.form__message > input,
			.form__name > input {
				width: 500px;
				margin-top: 50px;
				font-size: 30px;
			}
	
			.form__email > input::placeholder,
			.form__name > input::placeholder,
			.form__message > input::placeholder {
				font-size: 30px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 768px) {
	.reservation {
		margin-top: 200px;
		&__form {
			.form__email,
			.form__name,
			.form__message {
				font-size: 20px;
			}

			.form__email > input,
			.form__message > input,
			.form__name > input {
				width: 400px;
				margin-top: 50px;
				font-size: 30px;
			}
	
			.form__email > input::placeholder,
			.form__name > input::placeholder,
			.form__message > input::placeholder {
				font-size: 20px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 540px) {
	.reservation {
		margin-top: 450px;

		&__text {
			font-size: 30px;
		}
		&__form {
			.form__email,
			.form__name,
			.form__message {
				font-size: 20px;
			}

			.form__email > input,
			.form__message > input,
			.form__name > input {
				width: 200px;
				margin-top: 50px;
				font-size: 30px;
			}
	
			.form__email > input::placeholder,
			.form__name > input::placeholder,
			.form__message > input::placeholder {
				font-size: 20px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 415px) {
	.reservation {
		margin-top: 450px;
		&__form {
			.form__email,
			.form__name,
			.form__message {
				font-size: 20px;
			}

			.form__email > input,
			.form__message > input,
			.form__name > input {
				width: 200px;
				margin-top: 50px;
				font-size: 30px;
			}
	
			.form__email > input::placeholder,
			.form__name > input::placeholder,
			.form__message > input::placeholder {
				font-size: 20px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 376px) {
	.reservation {
		margin-top: 450px;
	}
}

@media (max-width: 360px) {
	.reservation {
		margin-top: 450px;
	}
}

@media (max-width: 280px) {
	.reservation {
		margin-top: 450px;
	}
}

.footer {
	position: relative;
	width: 100%;
	height: 300px;	
	background-color: $headerfooter;

	&__container {
		position: inherit;
		z-index: 1;
	}

	.contact__us {
		padding-top: 100px;
		text-align: center;
		display: flex;
		justify-content: space-between;

		& > a {
			display: inline-block;
			text-decoration: none;
			color: $main_color;
			font-size: 50px;
			font-family: $second-font;
		}
	}
}

	/*==========================================
					Адаптив для футера
	==========================================*/

@media (max-width: 700px) {
	.footer {
		width: 100%;

		.contact__us {
			& > a {
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 415px) {
	.footer {
		margin-top: 50px;
		width: 100%;

		.contact__us {
			& > a {
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 321px) {
	.footer {
		margin-top: 100px;
		width: 100%;

		.contact__us {
			& > a {
				font-size: 30px;
			}
		}
	}
}